<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header',{pagina:' Sobre'}); %>
    <main>
        <div class="jumbotron">
            <h1>Sobre Mim</h1>
            <p>Meu nome é Caetano Martinazzo, moro no Brasil, especificamente em Sorriso-MT.  
                Atualmente dedico cerca de 7 a 9 horas por dia aos estudos, pretendo atuar na área de programador.
                Busco me tornar um excelente profissional, aplicar todos os conhecimentos obtidos ao longo da minha carreira e
                realizar meu trabalho com responsabilidade, pois tenho muito foco e disciplina em tudo que faço. </p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>